<%= semantic_form_for [:admin, resource], upload_form_options(builder: ActiveAdmin::FormBuilder) do |f| %>

  <%= f.semantic_errors *f.object.errors.keys %>

  <%= f.inputs do %>

    <%= f.input :service_id, as: :hidden %>
    <%= f.input :title %>
    <%= f.input :description %>
  
    <li>
      <%= f.label :attachments %>
      <div class="multi-line-form-input">
        <% if resource.attachments.present? %>
          <ul>
            <% resource.attachments.map do |a| %>
              <li><%= a.name %></li>
            <% end %>
          </ul>
        <% end %>
        <%= f.file_field 'attachments_attributes[][url]', class: "file-upload-button" %>
      </div>
    </li>

    <% if resource.new_record? %>
      <% html = (resource.notify || resource.notify.nil?) ? {checked: 'checked'} : {} %>
      <%= f.input :notify, label: "Send email notification to all contacts", input_html: html %>
    <% end %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit %>
    <%= f.cancel_link(admin_company_service_path(resource.service.company, resource.service)) %>
  <% end %>

<% end %>

<script>

  $(function() {
    handleFileUploadInputs('.directUpload');
  });

</script>
